  <section>
  {{#each modyfikatory as |mod i|}}
    <div class="mod-row">
      <div class="flexrow">
      <label>{{localize "awanturnik20.dialog.obniz"}}</label>
      <select name="modyfikator_cech.{{i}}.cecha_do_obnizenia">
        {{#each mod.cecha_do_obnizenia as |label key|}}
          <option value="{{key}}">
            {{localize (concat "awanturnik20.actor.atrybuty." label)}}
          </option>
        {{/each}}
      </select>
      <select name="zmniejszenie">
        {{#each (range 0 mod.wartosc)}}
          <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
      </div>
      <div class="flexrow">
      <label>{{localize "awanturnik20.dialog.zwieksz"}}</label>
      <select name="modyfikator_cech.{{i}}.cecha_do_zwiekszenia">
        {{#each mod.cecha_do_zwiekszenia as |label key|}}
          <option value="{{key}}">
            {{localize (concat "awanturnik20.actor.atrybuty." label)}}
          </option>
        {{/each}}
      </select>
      <select name="zwiekszenie">
        {{#each (range 0 mod.wartosc)}}
          <option value={{this}} disabled>{{this}}</option>
        {{/each}}
      </select>
      </div>
      <div class="flexrow">     
        <label>{{localize "awanturnik20.dialog.wartosc"}}</label>
        <p>{{mod.wartosc}}</p>
      </div>
    </div>
  {{/each}}
  <footer>
    <button data-action="save">{{localize "awanturnik20.dialog.ok"}}</button>
  </footer>
  </section>