<section
  class="tab dane {{tabs.dane.cssClass}}"
  action-data="tab"
  data-group="main"
  data-tab="dane"
>
  <div class="staty">
    <div class="flexrow">
      <label>{{localize systemFields.mod_kp.label}}</label>
      {{formInput systemFields.mod_kp value=system.mod_kp}}
    </div>
    <div class="flexrow">
      <label>{{localize systemFields.rece.label}}</label>
      {{formInput systemFields.rece value=system.rece localize=true}}
    </div>
    <div class="flexrow">
      <label>{{localize systemFields.typ.label}}</label>
      {{formInput systemFields.typ value=system.typ localize=true}}
    </div>
    <div class="flexcol">
      <div class="flexrow">
        <label>{{localize "awanturnik20.modyfikator.label"}}</label>
        {{formInput
          systemFields.modyfikatory.fields.rodzaj
          value=system.modyfikatory.rodzaj
          localize=true
        }}
      </div>
      {{#if (ne system.modyfikatory.rodzaj "brak")}}
        <div class="flexrow">

          <label>{{localize "awanturnik20.modyfikator.typ"}}</label>
          {{formInput
            systemFields.modyfikatory.fields.typ
            value=system.modyfikatory.typ
            localize=true
          }}
        </div>
        <div class="flexrow">
          <label>{{localize "awanturnik20.modyfikator.atrybut"}}</label>
          {{formInput
            systemFields.modyfikatory.fields.atrybut
            value=system.modyfikatory.atrybut
            localize=true
          }}
        </div>

      {{/if}}
    </div>
  </div>
  <div class="flexrow">
    <label>{{localize systemFields.cena.label}}</label>
    {{formInput systemFields.cena value=system.cena}}
    {{formInput systemFields.monety value=system.monety localize=true}}
  </div>

</section>