<section>
<div>
    <div class="actor-header">
        <label>{{localize "awanturnik20.actor.sciezka"}}</label>
        {{formInput systemFields.sciezka}}
    </div>
    <div class="actor-header">
        <label>{{localize "awanturnik20.actor.poziom"}}</label>
        {{formInput systemFields.poziom}}
    </div>
    <div class="actor-header">
        <label>{{localize "awanturnik20.actor.name"}}</label>
        {{formInput systemFields.name}}          
    </div>
    <div class="actor-header">
        <label>{{localize "awanturnik20.actor.gatunek"}}</label>
        {{formInput systemFields.gatunek}}
    </div>
    <div class="actor-header">
        <label>{{localize "awanturnik20.actor.plec"}}</label>
        {{formInput systemFields.plec}}
    </div>
</div>
</section>