<section class="tab charakter {{tabs.charakter.cssClass}}"   action-data="tab"  data-group="main"   data-tab="charakter">
  <h2>{{localize "awanturnik20.actor.charakter.label"}}
  <button data-action="obroc" data-tooltip="{{localize systemFields.os_charakteru.label}}"><i class="fa-solid fa-rotate"></i></button>
  </h2>
    <div class="charakter-grid{{#if system.os_charakteru}} rotate {{/if}}">

    {{!-- AXIS --}}
    {{#each (array
      "os_pobudek"
      "os_porzadku"
      "os_egoizmu"
      "os_osadu"
      "os_pasji"
      "os_materii"
      "os_ducha"
    ) as |axis|}}
      <div class="axis {{#if system.os_charakteru}} rotate {{/if}}">
        <div class="axis-top">
          {{localize (lookup (lookup ../systemFields.charakter.fields axis) "label")}}
        </div>
        <div class="axis-track">
          {{#each (array 0 1 2 3 ) as |val|}}
            <label class="point">
             <label class="vertical">{{localize (concat "awanturnik20.actor.charakter." axis "_" val)}}</label>
              <input
                type="radio"
                name="system.charakter.{{axis}}"
                value="{{val}}"
                {{#if (eq (lookup @root.system.charakter axis) val)}}checked{{/if}}
              />
              <span></span>
            </label>
          {{/each}}
        </div>
      </div>
    {{/each}}
    <div class="axis right {{#if system.os_charakteru}} rot{{/if}}">
      <div></div>
      <div class="axis-track">
        <label style="height:90px"></label>
            <label class="point">
              <label class="vertical">{{localize "awanturnik20.actor.charakter.cnota"}}</label>
             
            </label>
                        <label class="point">
              <label class="vertical">{{localize "awanturnik20.actor.charakter.zaleta"}}</label>
       
            </label>
                        <label class="point">
              <label class="vertical">{{localize "awanturnik20.actor.charakter.wada"}}</label>
    
            </label>
                        <label class="point">
              <label class="vertical">{{localize "awanturnik20.actor.charakter.przywara"}}</label>
       
            </label>
      </div>
    </div>
  </div>
</section>