<section class="header">
  <div class="glowna">
    <div class="image-container">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        data-action="editImage"
        data-edit="img"
      />
    </div>

    <div class="actor-header">
      <label>{{localize "awanturnik20.actor.sciezka"}}</label>
      <div class="item">miejsce na przedmiot ścieżka
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item=""
        >⋮</a></div>
    </div>
    <div class="actor-header">
      <label>{{localize "awanturnik20.actor.poziom"}}</label>
      {{formInput systemFields.poziom}}
    </div>
    <div class="actor-header">
      <label>{{localize "awanturnik20.actor.name"}}</label>
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="{{localize 'awanturnik20.actor.name_placeholder'}}"
      />
    </div>
    <div class="actor-header">
      <label>{{localize "awanturnik20.actor.gatunek"}}</label>
      <div class="item">{{rasa.name}}
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{rasa.id}}"
        >⋮</a>
      </div>
    </div>
    <div class="actor-header">
      <label>{{localize "awanturnik20.actor.plec"}}</label>
      {{formInput systemFields.plec}}
    </div>
  </div>
</section>