<section class="atrybuty">

  <div class="flexrow">
    {{#each systemFields.atrybuty as |atrybut|}}
      <div class="attribute-group">
        <div class="attribute-main">
          <div class="atr-a">
            <a
              data-action="rzut_atrybut"
              data-atrybut="{{atrybut.name}}"
            >{{localize atrybut.fields.value.label}}</a>
          </div>
          <div class="flexcol atr-um">
            {{formInput
              atrybut.fields.value
              value=(lookup (lookup @root.system.atrybuty atrybut.name) "value")
              type="number"
            }}
            <div class="flexrow">
              <p>{{localize atrybut.fields.mod.label}}
                {{#if
                  (gte
                    (lookup (lookup @root.system.atrybuty atrybut.name) "mod") 0
                  )
                }}<br />
                  +{{lookup (lookup @root.system.atrybuty atrybut.name) "mod"}}
                {{else}}
                  <br />{{lookup
                    (lookup @root.system.atrybuty atrybut.name)
                    "mod"
                  }}
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>