<nav class="lewa sheet-tabs tabs" data-group="items">
  <a data-action="tab" data-tab="ekwipunek" data-group="main">{{localize
      "awanturnik20.actor.ekwipunek"
    }}</a>
  <a data-action="tab" data-tab="charakter" data-group="main">{{localize
      "awanturnik20.actor.charakter.label"
    }}</a>
    <a data-action="tab" data-tab="rutyny"  data-group="main">{{localize "awanturnik20.actor.rutyny.label"}}</a>
    <a data-action="tab" data-tab="czary" data-group="main">{{localize "awanturnik20.actor.czary.label"}}</a>
    <a data-action="tab" data-tab="kontuzje_stany" data-group="main">{{localize "awanturnik20.actor.kontuzje_stany.label"}}</a>
    <a data-action="tab" data-tab="biografia" data-group="main">{{localize "awanturnik20.actor.biografia.label"}}</a>
    <a data-action="tab" data-tab="notatki" data-group="main">{{localize "awanturnik20.actor.notatki.label"}}</a>
</nav>